extends partial/layout

block def_site_title
    - var siteTitle = page.category;

block def_description
    - var description = `${__('Categories')}：${page.category} - ${config.description}`;

block content
  .autopagerize_page_element: .content
    .archive.animated.fadeInDown
      ul.list-with-title
        include mixins
        +postList()
        +make_pager(__('prev'), __('next'))
